* {
    margin: 0;
}

#top-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background-image: linear-gradient(to right, #F0FFFF, #FFFAF1); 
}

#bottom-section {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}